*,
*::before,
*::after {
  box-sizing: border-box;
}

.media .media-list .lower-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(0,0,0,0.2);
  padding: 12px;
  box-sizing: border-box;
  color: #FFFFFF;
  overflow: hidden;
  text-align: left;
}

.media .media-list .lower-box .tag {
  display: inline-block;
}

.media .media-list .lower-box .date {
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: 1px;
}

.media .media-list .lower-box .title {
  margin-top: 5px;
  line-height: 1.2;
}
